In [1]:
import pandas as pd
import numpy as np

In [2]:
seoul = pd.read_csv("C:/data/now_used/1015_data3.csv")

In [3]:
seoul

,건축물대장코드,구시군,읍면동,번,지,입주일,상가유형,지하총층,지상총층,연면적m2,...,주변세대수점수,주변평당가점수,상권코드명,평균월매출금액,평균월매출건수,평균주중매출금액,평균주말매출금액,편의점임대료,공시지가,행정동생활인구
0,11110-10014,종로구,동숭동,1,114,1982-12-24,근린상가,1,5,1563.66,...,1.176,10.477,이화장길,1276469803,92138,926358383,350111420,131091.221409,22840000,38293.0
1,11110-100180009,종로구,동숭동,1,67,2008-07-03,기타상가,4,5,8585.08,...,1.207,10.754,이화장길,1276469803,92138,926358383,350111420,66131.584897,16310000,38293.0
2,11110-100184402,종로구,관훈동,186,0,2008-12-29,근린상가,0,3,172.11,...,0.363,19.104,계동길,725431028,41102,530637184,194793844,101021.253105,24600000,86083.0
3,11110-100190514,종로구,누하동,245,6,2011-09-28,근린상가,0,4,233.03,...,1.979,16.353,자하문로7길,1266093633,59989,952608422,313485211,67634.444078,7727000,40687.0
4,11110-100190842,종로구,효제동,19,3,2011-10-14,근린상가,0,5,253.80,...,0.810,10.063,율곡로16길,701283928,59235,586470792,114813136,112721.417069,4878000,30695.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9257,11740-9659,강동구,고덕동,645,4,1988-09-16,근린상가,1,4,493.71,...,18.968,40.630,고덕로61길,237774734,14458,184722166,53052568,157349.896480,5684000,50099.0
9258,11740-9676,강동구,명일동,312,42,1980-06-27,근린상가,1,3,988.04,...,12.853,39.510,상암로51길,1138515459,61110,811089104,327426355,37556.499110,12580000,59355.0
9259,11740-9698,강동구,명일동,326,11,1981-10-05,근린상가,1,2,741.99,...,10.374,109.826,상암로51길,1138515459,61110,811089104,327426355,37556.499110,6444000,59355.0
9260,11740-9843,강동구,둔촌동,609,3,1993-12-06,근린상가,1,4,659.00,...,7.339,47.818,명일로13길,731403749,43065,546770943,184632806,39411.064842,6762000,55551.0
9261,11740-9917,강동구,길동,413,1,2002-02-06,기타상가,4,10,20582.74,...,2.255,43.087,진황도로47길,1534886060,80643,1128660267,406225793,156815.440290,6416000,55551.0

In [4]:
seoul.columns

Index(['건축물대장코드', '구시군', '읍면동', '번', '지', '입주일', '상가유형', '지하총층', '지상총층',
       '연면적m2', '주차대수', '승강기수', '경도', '위도', 'usage_area', 'cont_area', 'RENT',
       'rent_ua', 'rent_ca', 'floor', '전철역명', '지하철거리m', '승객수점수', '건물별전기사용량',
       '본번별평균사용량', '횡단보도거리m', '건물연차', '가까운아파트', '가까운아파트총세대수', '가까운아파트평균평당가',
       '아파트거리', '주변세대수점수', '주변평당가점수', '상권코드명', '평균월매출금액', '평균월매출건수',
       '평균주중매출금액', '평균주말매출금액', '편의점임대료', '공시지가', '행정동생활인구'],
      dtype='object')

In [5]:
seoul_ua = seoul[['rent_ua',  '연면적m2','usage_area', 
        '승객수점수', '본번별평균사용량', '평균주말매출금액', '공시지가']]
seoul_ua.head()

     rent_ua    연면적m2  usage_area       승객수점수  본번별평균사용량   평균주말매출금액      공시지가
0  48.387097  1563.66       15.50   71533.898  15813.56  350111420  22840000
1  13.155340  8585.08      103.00  117064.164  15813.56  350111420  16310000
2  11.891892   172.11      185.00   46623.003   3261.00  194793844  24600000
3   3.778770   233.03       58.22   29040.490   2650.00  313485211   7727000
4   2.037351   253.80       58.90   34219.916    390.00  114813136   4878000

In [6]:
# 0값 제거
seoul_ua1 = seoul_ua.copy()

seoul_ua1 = seoul_ua1[seoul_ua1.rent_ua != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.연면적m2 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.usage_area != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.본번별평균사용량 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.승객수점수 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.평균주말매출금액 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.공시지가 != 0]
seoul_ua1

,rent_ua,연면적m2,usage_area,승객수점수,본번별평균사용량,평균주말매출금액,공시지가
0,48.387097,1563.66,15.50,71533.898,15813.56,350111420,22840000
1,13.155340,8585.08,103.00,117064.164,15813.56,350111420,16310000
2,11.891892,172.11,185.00,46623.003,3261.00,194793844,24600000
3,3.778770,233.03,58.22,29040.490,2650.00,313485211,7727000
4,2.037351,253.80,58.90,34219.916,390.00,114813136,4878000
...,...,...,...,...,...,...,...
9257,2.156190,493.71,783.79,8921.374,3264.43,53052568,5684000
9258,10.439427,988.04,41.19,33569.452,12269.25,327426355,12580000
9259,3.761755,741.99,127.60,16942.142,8845.75,327426355,6444000
9260,4.672416,659.00,291.07,22247.037,9900.00,184632806,6762000
9261,3.905050,20582.74,227.91,90212.844,28058.56,406225793,6416000

In [10]:
# 이상값 데이터만 불러오기
# 일반적으로는 iqt = 1.5 * (q3 - q1)로 정의. 하지만 너무 많은 데이터가 이상치로 빠지는 것을 막기 위해 iqt = 1.8 * (q3 - q1)로 정의하였다.

seoul_ua2 = seoul_ua1.copy()

q1 = seoul_ua2["rent_ua"].quantile(0.25)
q3 = seoul_ua2["rent_ua"].quantile(0.75)
iqt = 1.8 * (q3 - q1)
df1 = seoul_ua2[(seoul_ua2["rent_ua"] > (q3 + iqt)) | (seoul_ua2["rent_ua"] < (q1 - iqt))]

q1 = seoul_ua2["연면적m2"].quantile(0.25)
q3 = seoul_ua2["연면적m2"].quantile(0.75)
iqt = 1.8 * (q3 - q1)
df2 = seoul_ua2[(seoul_ua2["연면적m2"] > (q3 + iqt)) | (seoul_ua2["연면적m2"] < (q1 - iqt))]

q1 = seoul_ua2["usage_area"].quantile(0.25)
q3 = seoul_ua2["usage_area"].quantile(0.75)
iqt = 1.8 * (q3 - q1)
df3 = seoul_ua2[(seoul_ua2["usage_area"] > (q3 + iqt)) | (seoul_ua2["usage_area"] < (q1 - iqt))]

q1 = seoul_ua2["승객수점수"].quantile(0.25)
q3 = seoul_ua2["승객수점수"].quantile(0.75)
iqt = 1.8 * (q3 - q1)
df4 = seoul_ua2[(seoul_ua2["승객수점수"] > (q3 + iqt)) | (seoul_ua2["승객수점수"] < (q1 - iqt))]

q1 = seoul_ua2["본번별평균사용량"].quantile(0.25)
q3 = seoul_ua2["본번별평균사용량"].quantile(0.75)
iqt = 1.8 * (q3 - q1)
df5 = seoul_ua2[(seoul_ua2["본번별평균사용량"] > (q3 + iqt)) | (seoul_ua2["본번별평균사용량"] < (q1 - iqt))]

q1 = seoul_ua2["평균주말매출금액"].quantile(0.25)
q3 = seoul_ua2["평균주말매출금액"].quantile(0.75)
iqt = 1.8 * (q3 - q1)
df6 = seoul_ua2[(seoul_ua2["평균주말매출금액"] > (q3 + iqt)) | (seoul_ua2["평균주말매출금액"] < (q1 - iqt))]

q1 = seoul_ua2["공시지가"].quantile(0.25)
q3 = seoul_ua2["공시지가"].quantile(0.75)
iqt = 1.8 * (q3 - q1)
df7 = seoul_ua2[(seoul_ua2["공시지가"] > (q3 + iqt)) | (seoul_ua2["공시지가"] < (q1 - iqt))]


df8 = pd.concat([df1,df2,df3,df4,df5,df6,df7])

df8

,rent_ua,연면적m2,usage_area,승객수점수,본번별평균사용량,평균주말매출금액,공시지가
0,48.387097,1563.66,15.50,71533.898,15813.56,350111420,22840000
1,13.155340,8585.08,103.00,117064.164,15813.56,350111420,16310000
2,11.891892,172.11,185.00,46623.003,3261.00,194793844,24600000
5,25.207966,3509.70,396.70,174273.622,32857.00,423765181,33700000
7,17.286085,898.81,115.70,94289.062,9823.00,637083042,29000000
...,...,...,...,...,...,...,...
8970,13.829465,814.23,231.39,76486.874,23317.44,812087858,25200000
9008,13.297872,243.99,188.00,36632.491,17457.00,548622146,21420000
9064,10.587486,458.52,62.81,38170.199,29612.94,548622146,21990000
9187,19.720915,4995.24,59.48,35182.534,47561.54,548622146,22460000
9218,23.768366,46.28,46.28,35850.502,29612.94,548622146,21990000

In [11]:
df8.duplicated().value_counts()

False    2667
True     1830
dtype: int64

In [12]:
df8 = df8.drop_duplicates()
df8

,rent_ua,연면적m2,usage_area,승객수점수,본번별평균사용량,평균주말매출금액,공시지가
0,48.387097,1563.66,15.50,71533.898,15813.56,350111420,22840000
1,13.155340,8585.08,103.00,117064.164,15813.56,350111420,16310000
2,11.891892,172.11,185.00,46623.003,3261.00,194793844,24600000
5,25.207966,3509.70,396.70,174273.622,32857.00,423765181,33700000
7,17.286085,898.81,115.70,94289.062,9823.00,637083042,29000000
...,...,...,...,...,...,...,...
8073,5.777163,1463.99,353.98,116487.066,10281.88,521218106,22980000
8087,2.988748,2645.40,142.20,124408.104,5516.00,269627299,22880000
8094,10.282258,2429.97,44.64,57553.494,19988.15,386920810,20600000
8159,7.975693,936.77,210.64,53087.454,9810.32,521218106,24500000
8707,6.698358,763.08,92.56,65094.888,17053.78,331750143,19600000

In [13]:
seoul_ua2_log = df8.copy()
seoul_ua2_log

,rent_ua,연면적m2,usage_area,승객수점수,본번별평균사용량,평균주말매출금액,공시지가
0,48.387097,1563.66,15.50,71533.898,15813.56,350111420,22840000
1,13.155340,8585.08,103.00,117064.164,15813.56,350111420,16310000
2,11.891892,172.11,185.00,46623.003,3261.00,194793844,24600000
5,25.207966,3509.70,396.70,174273.622,32857.00,423765181,33700000
7,17.286085,898.81,115.70,94289.062,9823.00,637083042,29000000
...,...,...,...,...,...,...,...
8073,5.777163,1463.99,353.98,116487.066,10281.88,521218106,22980000
8087,2.988748,2645.40,142.20,124408.104,5516.00,269627299,22880000
8094,10.282258,2429.97,44.64,57553.494,19988.15,386920810,20600000
8159,7.975693,936.77,210.64,53087.454,9810.32,521218106,24500000
8707,6.698358,763.08,92.56,65094.888,17053.78,331750143,19600000

In [14]:
# 요약 통계량 확인하기

seoul_ua2_log = seoul_ua2_log[seoul_ua2_log['연면적m2'] != 0]
seoul_ua2_log.describe()

,rent_ua,연면적m2,usage_area,승객수점수,본번별평균사용량,평균주말매출금액,공시지가
count,2667.000000,2667.000000,2667.000000,2.667000e+03,2.667000e+03,2.667000e+03,2.667000e+03
mean,6.985487,6571.588782,654.445309,1.057338e+05,4.436388e+04,4.765085e+08,1.303411e+07
std,5.184287,14839.566679,1061.980689,1.045884e+05,9.827796e+04,3.022479e+08,8.804573e+06
min,0.334753,23.110000,4.560000,1.799443e+03,2.400000e+01,2.786158e+07,3.047000e+05
25%,3.803624,696.670000,99.820000,3.828104e+04,7.803980e+03,2.668866e+08,6.898000e+06
50%,5.499945,1659.360000,278.900000,7.297729e+04,1.517013e+04,3.855233e+08,1.030000e+07
75%,8.526465,4544.425000,856.495000,1.363036e+05,3.642642e+04,6.374868e+08,1.703500e+07
max,76.744186,187744.190000,22214.850000,1.188381e+06,1.723618e+06,1.575894e+09,8.420000e+07

In [15]:
seoul_ua2_log.columns

Index(['rent_ua', '연면적m2', 'usage_area', '승객수점수', '본번별평균사용량', '평균주말매출금액',
       '공시지가'],
      dtype='object')

In [16]:
columns = ['rent_ua', '연면적m2', 'usage_area', '승객수점수', '본번별평균사용량', '평균주말매출금액',
       '공시지가']

In [17]:
# columns에 담긴 변수 log 취하고 scaling

import math
from sklearn import preprocessing

for i in columns:
    seoul_ua2_log['{}_log'.format(i)] = preprocessing.scale(np.log(seoul_ua2_log['{}'.format(i)]))
    
seoul_ua2_log

,rent_ua,연면적m2,usage_area,승객수점수,본번별평균사용량,평균주말매출금액,공시지가,rent_ua_log,연면적m2_log,usage_area_log,승객수점수_log,본번별평균사용량_log,평균주말매출금액_log,공시지가_log
0,48.387097,1563.66,15.50,71533.898,15813.56,350111420,22840000,3.482788,-0.143613,-2.140414,0.008134,-0.106197,-0.155718,1.211825
1,13.155340,8585.08,103.00,117064.164,15813.56,350111420,16310000,1.355101,0.991458,-0.745700,0.540899,-0.106197,-0.155718,0.671433
2,11.891892,172.11,185.00,46623.003,3261.00,194793844,24600000,1.190149,-1.614377,-0.314428,-0.454893,-1.387351,-1.033035,1.330954
5,25.207966,3509.70,396.70,174273.622,32857.00,423765181,33700000,2.417523,0.395265,0.247337,0.971289,0.487219,0.129975,1.836066
7,17.286085,898.81,115.70,94289.062,9823.00,637083042,29000000,1.801211,-0.512670,-0.660075,0.306877,-0.492564,0.740062,1.595022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8073,5.777163,1463.99,353.98,116487.066,10281.88,521218106,22980000,0.010737,-0.187512,0.163429,0.535553,-0.455516,0.439700,1.221631
8087,2.988748,2645.40,142.20,124408.104,5516.00,269627299,22880000,-1.065939,0.206836,-0.508198,0.606711,-0.960834,-0.546578,1.214633
8094,10.282258,2429.97,44.64,57553.494,19988.15,386920810,20600000,0.952554,0.150220,-1.361427,-0.227076,0.083905,-0.006131,1.046174
8159,7.975693,936.77,210.64,53087.454,9810.32,521218106,24500000,0.537570,-0.485099,-0.218844,-0.314445,-0.493612,0.439700,1.324417
8707,6.698358,763.08,92.56,65094.888,17053.78,331750143,19600000,0.252437,-0.621785,-0.824404,-0.093892,-0.044928,-0.236325,0.966317

In [18]:
seoul_ua2_log.columns

Index(['rent_ua', '연면적m2', 'usage_area', '승객수점수', '본번별평균사용량', '평균주말매출금액',
       '공시지가', 'rent_ua_log', '연면적m2_log', 'usage_area_log', '승객수점수_log',
       '본번별평균사용량_log', '평균주말매출금액_log', '공시지가_log'],
      dtype='object')

In [21]:
# 로그 없이

# 회귀분석 모듈 import

from statsmodels.formula.api import ols

# 모형 만들기
model = ols('rent_ua ~ 연면적m2 + usage_area + 승객수점수 + 본번별평균사용량 + 평균주말매출금액 + 공시지가', seoul_ua2_log)

# 모형 적합
res = model.fit()

# 분석 결과 확인
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                rent_ua   R-squared:                       0.233
Model:                            OLS   Adj. R-squared:                  0.232
Method:                 Least Squares   F-statistic:                     135.0
Date:                Fri, 16 Oct 2020   Prob (F-statistic):          1.36e-149
Time:                        14:40:27   Log-Likelihood:                -7818.2
No. Observations:                2667   AIC:                         1.565e+04
Df Residuals:                    2660   BIC:                         1.569e+04
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      3.8460      0.217     17.707      0.000       3.420       4.272
연면적m2      -2.153e-05   7.87e-06     -2.734      0.006    -3.7e-05   -6.09e-06
usage_area    -0.0007   8.33e-05     -8.870      0.000      -0.001      -0.001
승객수점수       2.222e-06   8.57e-07      2.593      0.010    5.42e-07     3.9e-06
본번별평균사용량    3.214e-06   1.19e-06      2.708      0.007    8.87e-07    5.54e-06
평균주말매출금액   -1.111e-10   3.09e-10     -0.359      0.719   -7.17e-10    4.95e-10
공시지가        2.639e-07   1.07e-08     24.763      0.000    2.43e-07    2.85e-07
==============================================================================
Omnibus:                     1702.914   Durbin-Watson:                   0.918
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            32509.664
Skew:                           2.705   Prob(JB):                         0.00
Kurtosis:                      19.226   Cond. No.                     1.39e+09
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.39e+09. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [22]:
# 다중공선성 확인을 위한 모듈

from statsmodels.stats.outliers_influence import variance_inflation_factor

# 한번에 모든 컬럼의 VIF를 계산

pd.DataFrame({'컬럼': column, 'VIF': variance_inflation_factor(model.exog, i)} 
             for i, column in enumerate(model.exog_names)
             if column != 'Intercept')  # 절편의 VIF는 구하지 않는다.

           컬럼       VIF
0       연면적m2  1.762310
1  usage_area  1.011331
2       승객수점수  1.037316
3    본번별평균사용량  1.756714
4    평균주말매출금액  1.127899
5        공시지가  1.136987

In [19]:
# 반로그함수 

# 회귀분석 모듈 import

from statsmodels.formula.api import ols

# 모형 만들기
model = ols('rent_ua_log ~ 연면적m2 + usage_area + 승객수점수 + 본번별평균사용량 + 평균주말매출금액 + 공시지가', seoul_ua2_log)

# 모형 적합
res = model.fit()

# 분석 결과 확인
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            rent_ua_log   R-squared:                       0.247
Model:                            OLS   Adj. R-squared:                  0.245
Method:                 Least Squares   F-statistic:                     145.3
Date:                Fri, 16 Oct 2020   Prob (F-statistic):          1.10e-159
Time:                        14:39:14   Log-Likelihood:                -3406.4
No. Observations:                2667   AIC:                             6827.
Df Residuals:                    2660   BIC:                             6868.
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -0.7021      0.042    -16.903      0.000      -0.784      -0.621
연면적m2      -1.556e-06   1.51e-06     -1.033      0.302   -4.51e-06     1.4e-06
usage_area    -0.0001   1.59e-05     -9.289      0.000      -0.000      -0.000
승객수점수       8.352e-07   1.64e-07      5.096      0.000    5.14e-07    1.16e-06
본번별평균사용량    5.667e-07   2.27e-07      2.497      0.013    1.22e-07    1.01e-06
평균주말매출금액    1.184e-10   5.91e-11      2.001      0.045     2.4e-12    2.34e-10
공시지가        4.905e-08   2.04e-09     24.066      0.000    4.51e-08    5.31e-08
==============================================================================
Omnibus:                       41.070   Durbin-Watson:                   1.121
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               75.558
Skew:                           0.046   Prob(JB):                     3.91e-17
Kurtosis:                       3.819   Cond. No.                     1.39e+09
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.39e+09. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [20]:
# 다중공선성 확인을 위한 모듈

from statsmodels.stats.outliers_influence import variance_inflation_factor

# 한번에 모든 컬럼의 VIF를 계산

pd.DataFrame({'컬럼': column, 'VIF': variance_inflation_factor(model.exog, i)} 
             for i, column in enumerate(model.exog_names)
             if column != 'Intercept')  # 절편의 VIF는 구하지 않는다.

           컬럼       VIF
0       연면적m2  1.762310
1  usage_area  1.011331
2       승객수점수  1.037316
3    본번별평균사용량  1.756714
4    평균주말매출금액  1.127899
5        공시지가  1.136987

In [23]:
# 회귀분석 모듈 import / 이중로그

from statsmodels.formula.api import ols

# 모형 만들기(with 모든변수)
model = ols('rent_ua_log ~ 연면적m2_log + usage_area_log + 승객수점수_log + 본번별평균사용량_log + 평균주말매출금액_log + 공시지가_log',  seoul_ua2_log)

# 모형 적합
res = model.fit()

# 분석 결과 확인
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            rent_ua_log   R-squared:                       0.337
Model:                            OLS   Adj. R-squared:                  0.336
Method:                 Least Squares   F-statistic:                     225.4
Date:                Fri, 16 Oct 2020   Prob (F-statistic):          3.73e-233
Time:                        14:40:48   Log-Likelihood:                -3236.2
No. Observations:                2667   AIC:                             6486.
Df Residuals:                    2660   BIC:                             6528.
Df Model:                           6
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept       6.635e-17      0.016    4.2e-15      1.000      -0.031       0.031
연면적m2_log         -0.0484      0.021     -2.351      0.019      -0.089      -0.008
usage_area_log    -0.2890      0.016    -17.834      0.000      -0.321      -0.257
승객수점수_log          0.0960      0.016      5.828      0.000       0.064       0.128
본번별평균사용량_log       0.0285      0.021      1.386      0.166      -0.012       0.069
평균주말매출금액_log       0.0218      0.018      1.237      0.216      -0.013       0.056
공시지가_log           0.4636      0.017     26.732      0.000       0.430       0.498
==============================================================================
Omnibus:                       45.458   Durbin-Watson:                   1.173
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               84.759
Skew:                          -0.073   Prob(JB):                     3.93e-19
Kurtosis:                       3.861   Cond. No.                         2.24
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [24]:
# 한번에 모든 컬럼의 VIF를 계산

pd.DataFrame({'컬럼': column, 'VIF': variance_inflation_factor(model.exog, i)} 
             for i, column in enumerate(model.exog_names)
             if column != 'Intercept')  # 절편의 VIF는 구하지 않는다.

               컬럼       VIF
0       연면적m2_log  1.704241
1  usage_area_log  1.053423
2       승객수점수_log  1.089579
3    본번별평균사용량_log  1.694898
4    평균주말매출금액_log  1.249871
5        공시지가_log  1.206935