In [1]:
import pandas as pd

In [2]:
seoul = pd.read_csv("C:/data/now_used/1015_data3.csv")

In [3]:
seoul.columns

Index(['건축물대장코드', '구시군', '읍면동', '번', '지', '입주일', '상가유형', '지하총층', '지상총층',
       '연면적m2', '주차대수', '승강기수', '경도', '위도', 'usage_area', 'cont_area', 'RENT',
       'rent_ua', 'rent_ca', 'floor', '전철역명', '지하철거리m', '승객수점수', '건물별전기사용량',
       '본번별평균사용량', '횡단보도거리m', '건물연차', '가까운아파트', '가까운아파트총세대수', '가까운아파트평균평당가',
       '아파트거리', '주변세대수점수', '주변평당가점수', '상권코드명', '평균월매출금액', '평균월매출건수',
       '평균주중매출금액', '평균주말매출금액', '편의점임대료', '공시지가', '행정동생활인구'],
      dtype='object')

In [4]:
seoul_ua = seoul[['rent_ua', '지하총층', '지상총층',
       '연면적m2', '주차대수', '승강기수', 'usage_area', 'cont_area',
       '지하철거리m', '승객수점수', '건물별전기사용량',
       '본번별평균사용량', '횡단보도거리m', '건물연차', '가까운아파트총세대수', '가까운아파트평균평당가',
       '아파트거리', '주변세대수점수', '주변평당가점수', '평균월매출금액', '평균월매출건수',
       '평균주중매출금액', '평균주말매출금액', '편의점임대료', '공시지가', '행정동생활인구']]
seoul_ua.head()

,rent_ua,지하총층,지상총층,연면적m2,주차대수,승강기수,usage_area,cont_area,지하철거리m,승객수점수,...,아파트거리,주변세대수점수,주변평당가점수,평균월매출금액,평균월매출건수,평균주중매출금액,평균주말매출금액,편의점임대료,공시지가,행정동생활인구
0,48.387097,1,5,1563.66,0,1,15.50,15.50,1.082077,71533.898,...,519.940374,1.176,10.477,1276469803,92138,926358383,350111420,131091.221409,22840000,38293.0
1,13.155340,4,5,8585.08,7,4,103.00,143.92,1.373136,117064.164,...,497.856179,1.207,10.754,1276469803,92138,926358383,350111420,66131.584897,16310000,38293.0
2,11.891892,0,3,172.11,0,1,185.00,200.00,2.508637,46623.003,...,249.441747,0.363,19.104,725431028,41102,530637184,194793844,101021.253105,24600000,86083.0
3,3.778770,0,4,233.03,2,0,58.22,58.22,4.791703,29040.490,...,426.832578,1.979,16.353,1266093633,59989,952608422,313485211,67634.444078,7727000,40687.0
4,2.037351,0,5,253.80,0,0,58.90,66.20,3.818611,34219.916,...,491.694446,0.810,10.063,701283928,59235,586470792,114813136,112721.417069,4878000,30695.0

In [5]:
# 주차가능여부, 승강기여부 변수 추가
lst = []
[lst.append(1) if i > 0 else lst.append(0) for i in seoul_ua['주차대수']]

seoul_ua['주차가능여부'] = lst

lst = []
[lst.append(1) if i > 0 else lst.append(0) for i in seoul_ua['승강기수']]

seoul_ua['승강기여부'] = lst

seoul_ua

<ipython-input-5-f653761b9a8a>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seoul_ua['주차가능여부'] = lst
<ipython-input-5-f653761b9a8a>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seoul_ua['승강기여부'] = lst

,rent_ua,지하총층,지상총층,연면적m2,주차대수,승강기수,usage_area,cont_area,지하철거리m,승객수점수,...,주변평당가점수,평균월매출금액,평균월매출건수,평균주중매출금액,평균주말매출금액,편의점임대료,공시지가,행정동생활인구,주차가능여부,승강기여부
0,48.387097,1,5,1563.66,0,1,15.50,15.50,1.082077,71533.898,...,10.477,1276469803,92138,926358383,350111420,131091.221409,22840000,38293.0,0,1
1,13.155340,4,5,8585.08,7,4,103.00,143.92,1.373136,117064.164,...,10.754,1276469803,92138,926358383,350111420,66131.584897,16310000,38293.0,1,1
2,11.891892,0,3,172.11,0,1,185.00,200.00,2.508637,46623.003,...,19.104,725431028,41102,530637184,194793844,101021.253105,24600000,86083.0,0,1
3,3.778770,0,4,233.03,2,0,58.22,58.22,4.791703,29040.490,...,16.353,1266093633,59989,952608422,313485211,67634.444078,7727000,40687.0,1,0
4,2.037351,0,5,253.80,0,0,58.90,66.20,3.818611,34219.916,...,10.063,701283928,59235,586470792,114813136,112721.417069,4878000,30695.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9257,2.156190,1,4,493.71,3,0,783.79,891.83,4.357042,8921.374,...,40.630,237774734,14458,184722166,53052568,157349.896480,5684000,50099.0,1,0
9258,10.439427,1,3,988.04,0,0,41.19,41.19,0.729846,33569.452,...,39.510,1138515459,61110,811089104,327426355,37556.499110,12580000,59355.0,0,0
9259,3.761755,1,2,741.99,4,0,127.60,127.60,2.046134,16942.142,...,109.826,1138515459,61110,811089104,327426355,37556.499110,6444000,59355.0,1,0
9260,4.672416,1,4,659.00,5,0,291.07,321.87,6.165909,22247.037,...,47.818,731403749,43065,546770943,184632806,39411.064842,6762000,55551.0,1,0
9261,3.905050,4,10,20582.74,149,2,227.91,300.00,1.656423,90212.844,...,43.087,1534886060,80643,1128660267,406225793,156815.440290,6416000,55551.0,1,1

In [6]:
# 0값 제거
seoul_ua1 = seoul_ua.copy()

seoul_ua1 = seoul_ua1[seoul_ua1.rent_ua != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.지상총층 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.연면적m2 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.usage_area != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.cont_area != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.지하철거리m != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.승객수점수 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.건물별전기사용량 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.본번별평균사용량 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.횡단보도거리m != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.가까운아파트총세대수 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.가까운아파트평균평당가 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.아파트거리 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.주변세대수점수 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.주변평당가점수 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.평균월매출금액 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.평균월매출건수 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.평균주중매출금액 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.평균주말매출금액 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.공시지가 != 0]
seoul_ua1 = seoul_ua1[seoul_ua1.행정동생활인구 != 0]
seoul_ua1

,rent_ua,지하총층,지상총층,연면적m2,주차대수,승강기수,usage_area,cont_area,지하철거리m,승객수점수,...,주변평당가점수,평균월매출금액,평균월매출건수,평균주중매출금액,평균주말매출금액,편의점임대료,공시지가,행정동생활인구,주차가능여부,승강기여부
0,48.387097,1,5,1563.66,0,1,15.50,15.50,1.082077,71533.898,...,10.477,1276469803,92138,926358383,350111420,131091.221409,22840000,38293.0,0,1
1,13.155340,4,5,8585.08,7,4,103.00,143.92,1.373136,117064.164,...,10.754,1276469803,92138,926358383,350111420,66131.584897,16310000,38293.0,1,1
2,11.891892,0,3,172.11,0,1,185.00,200.00,2.508637,46623.003,...,19.104,725431028,41102,530637184,194793844,101021.253105,24600000,86083.0,0,1
3,3.778770,0,4,233.03,2,0,58.22,58.22,4.791703,29040.490,...,16.353,1266093633,59989,952608422,313485211,67634.444078,7727000,40687.0,1,0
4,2.037351,0,5,253.80,0,0,58.90,66.20,3.818611,34219.916,...,10.063,701283928,59235,586470792,114813136,112721.417069,4878000,30695.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9257,2.156190,1,4,493.71,3,0,783.79,891.83,4.357042,8921.374,...,40.630,237774734,14458,184722166,53052568,157349.896480,5684000,50099.0,1,0
9258,10.439427,1,3,988.04,0,0,41.19,41.19,0.729846,33569.452,...,39.510,1138515459,61110,811089104,327426355,37556.499110,12580000,59355.0,0,0
9259,3.761755,1,2,741.99,4,0,127.60,127.60,2.046134,16942.142,...,109.826,1138515459,61110,811089104,327426355,37556.499110,6444000,59355.0,1,0
9260,4.672416,1,4,659.00,5,0,291.07,321.87,6.165909,22247.037,...,47.818,731403749,43065,546770943,184632806,39411.064842,6762000,55551.0,1,0
9261,3.905050,4,10,20582.74,149,2,227.91,300.00,1.656423,90212.844,...,43.087,1534886060,80643,1128660267,406225793,156815.440290,6416000,55551.0,1,1

In [7]:
seoul_ua2 = seoul_ua1.copy()
seoul_ua2

,rent_ua,지하총층,지상총층,연면적m2,주차대수,승강기수,usage_area,cont_area,지하철거리m,승객수점수,...,주변평당가점수,평균월매출금액,평균월매출건수,평균주중매출금액,평균주말매출금액,편의점임대료,공시지가,행정동생활인구,주차가능여부,승강기여부
0,48.387097,1,5,1563.66,0,1,15.50,15.50,1.082077,71533.898,...,10.477,1276469803,92138,926358383,350111420,131091.221409,22840000,38293.0,0,1
1,13.155340,4,5,8585.08,7,4,103.00,143.92,1.373136,117064.164,...,10.754,1276469803,92138,926358383,350111420,66131.584897,16310000,38293.0,1,1
2,11.891892,0,3,172.11,0,1,185.00,200.00,2.508637,46623.003,...,19.104,725431028,41102,530637184,194793844,101021.253105,24600000,86083.0,0,1
3,3.778770,0,4,233.03,2,0,58.22,58.22,4.791703,29040.490,...,16.353,1266093633,59989,952608422,313485211,67634.444078,7727000,40687.0,1,0
4,2.037351,0,5,253.80,0,0,58.90,66.20,3.818611,34219.916,...,10.063,701283928,59235,586470792,114813136,112721.417069,4878000,30695.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9257,2.156190,1,4,493.71,3,0,783.79,891.83,4.357042,8921.374,...,40.630,237774734,14458,184722166,53052568,157349.896480,5684000,50099.0,1,0
9258,10.439427,1,3,988.04,0,0,41.19,41.19,0.729846,33569.452,...,39.510,1138515459,61110,811089104,327426355,37556.499110,12580000,59355.0,0,0
9259,3.761755,1,2,741.99,4,0,127.60,127.60,2.046134,16942.142,...,109.826,1138515459,61110,811089104,327426355,37556.499110,6444000,59355.0,1,0
9260,4.672416,1,4,659.00,5,0,291.07,321.87,6.165909,22247.037,...,47.818,731403749,43065,546770943,184632806,39411.064842,6762000,55551.0,1,0
9261,3.905050,4,10,20582.74,149,2,227.91,300.00,1.656423,90212.844,...,43.087,1534886060,80643,1128660267,406225793,156815.440290,6416000,55551.0,1,1

In [8]:
seoul_ua2_log = seoul_ua2.copy()

q1 = seoul_ua2_log["rent_ua"].quantile(0.25)
q3 = seoul_ua2_log["rent_ua"].quantile(0.75)
iqt = 6.0 * (q3 - q1)
seoul_ua2_log["rent_ua"][(seoul_ua2_log["rent_ua"] > (q3 + iqt)) | (seoul_ua2_log["rent_ua"] < (q1 - iqt))] = None

seoul_ua2_log = seoul_ua2_log.dropna(axis = 0, how= 'any')

seoul_ua2_log

<ipython-input-8-edd2a03d0792>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seoul_ua2_log["rent_ua"][(seoul_ua2_log["rent_ua"] > (q3 + iqt)) | (seoul_ua2_log["rent_ua"] < (q1 - iqt))] = None

,rent_ua,지하총층,지상총층,연면적m2,주차대수,승강기수,usage_area,cont_area,지하철거리m,승객수점수,...,주변평당가점수,평균월매출금액,평균월매출건수,평균주중매출금액,평균주말매출금액,편의점임대료,공시지가,행정동생활인구,주차가능여부,승강기여부
1,13.155340,4,5,8585.08,7,4,103.00,143.92,1.373136,117064.164,...,10.754,1276469803,92138,926358383,350111420,66131.584897,16310000,38293.0,1,1
2,11.891892,0,3,172.11,0,1,185.00,200.00,2.508637,46623.003,...,19.104,725431028,41102,530637184,194793844,101021.253105,24600000,86083.0,0,1
3,3.778770,0,4,233.03,2,0,58.22,58.22,4.791703,29040.490,...,16.353,1266093633,59989,952608422,313485211,67634.444078,7727000,40687.0,1,0
4,2.037351,0,5,253.80,0,0,58.90,66.20,3.818611,34219.916,...,10.063,701283928,59235,586470792,114813136,112721.417069,4878000,30695.0,0,0
6,4.323740,5,6,3869.33,4,2,370.05,370.05,2.095677,41692.829,...,8.175,1276469803,92138,926358383,350111420,85005.100306,11340000,38293.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9257,2.156190,1,4,493.71,3,0,783.79,891.83,4.357042,8921.374,...,40.630,237774734,14458,184722166,53052568,157349.896480,5684000,50099.0,1,0
9258,10.439427,1,3,988.04,0,0,41.19,41.19,0.729846,33569.452,...,39.510,1138515459,61110,811089104,327426355,37556.499110,12580000,59355.0,0,0
9259,3.761755,1,2,741.99,4,0,127.60,127.60,2.046134,16942.142,...,109.826,1138515459,61110,811089104,327426355,37556.499110,6444000,59355.0,1,0
9260,4.672416,1,4,659.00,5,0,291.07,321.87,6.165909,22247.037,...,47.818,731403749,43065,546770943,184632806,39411.064842,6762000,55551.0,1,0
9261,3.905050,4,10,20582.74,149,2,227.91,300.00,1.656423,90212.844,...,43.087,1534886060,80643,1128660267,406225793,156815.440290,6416000,55551.0,1,1

In [9]:
# 요약 통계량 확인하기

seoul_ua2_log = seoul_ua2_log[seoul_ua2_log['연면적m2'] != 0]
seoul_ua2_log.describe()

,rent_ua,지하총층,지상총층,연면적m2,주차대수,승강기수,usage_area,cont_area,지하철거리m,승객수점수,...,주변평당가점수,평균월매출금액,평균월매출건수,평균주중매출금액,평균주말매출금액,편의점임대료,공시지가,행정동생활인구,주차가능여부,승강기여부
count,9208.000000,9208.000000,9208.000000,9208.000000,9208.000000,9208.000000,9208.000000,9208.000000,9208.000000,9.208000e+03,...,9208.000000,9.208000e+03,9208.000000,9.208000e+03,9.208000e+03,9.208000e+03,9.208000e+03,9208.000000,9208.000000,9208.000000
mean,4.687089,1.123262,4.699175,2383.363927,12.093506,0.427237,304.171570,444.217075,4.542212,6.352808e+04,...,34.432139,6.698675e+08,66139.723284,8.137424e+08,3.627112e+08,7.527742e+04,8.373248e+06,60037.965791,0.578519,0.244136
std,2.859940,0.932447,3.375856,8389.552643,60.929761,1.284764,625.309837,6469.229968,3.039391,6.865273e+04,...,36.858978,1.191403e+09,33696.839754,7.158235e+08,2.297777e+08,5.705078e+04,5.872862e+06,29621.322057,0.493823,0.429597
min,0.297063,0.000000,1.000000,1.650000,0.000000,0.000000,4.560000,4.650000,0.152100,1.799443e+03,...,2.734000,-2.147484e+09,6556.000000,-2.147484e+09,2.786158e+07,3.156167e+03,6.760000e+04,9970.000000,0.000000,0.000000
25%,2.808792,1.000000,3.000000,382.785000,0.000000,0.000000,64.785000,72.660000,2.477769,2.333399e+04,...,16.989000,5.796927e+08,42887.000000,5.599188e+08,2.032106e+08,3.916960e+04,4.685750e+06,39195.000000,0.000000,0.000000
50%,3.928571,1.000000,4.000000,675.575000,2.000000,0.000000,132.300000,158.800000,3.969809,4.313546e+04,...,26.199500,9.889889e+08,60439.000000,8.436417e+08,3.184669e+08,5.886805e+04,6.678000e+06,54623.000000,1.000000,0.000000
75%,5.665583,1.000000,5.000000,1258.245000,5.000000,0.000000,299.640000,361.802500,5.809888,7.905151e+04,...,42.399250,1.370655e+09,81456.000000,1.155547e+09,4.495244e+08,9.399701e+04,9.775750e+06,72496.000000,1.000000,0.000000
max,22.881356,8.000000,49.000000,187744.190000,1701.000000,29.000000,22214.850000,616133.920000,35.330948,1.188381e+06,...,1372.577000,2.137533e+09,270116.000000,2.146070e+09,1.575894e+09,1.305605e+06,7.640000e+07,182423.000000,1.000000,1.000000

In [10]:
seoul_ua2_log.columns

Index(['rent_ua', '지하총층', '지상총층', '연면적m2', '주차대수', '승강기수', 'usage_area',
       'cont_area', '지하철거리m', '승객수점수', '건물별전기사용량', '본번별평균사용량', '횡단보도거리m',
       '건물연차', '가까운아파트총세대수', '가까운아파트평균평당가', '아파트거리', '주변세대수점수', '주변평당가점수',
       '평균월매출금액', '평균월매출건수', '평균주중매출금액', '평균주말매출금액', '편의점임대료', '공시지가',
       '행정동생활인구', '주차가능여부', '승강기여부'],
      dtype='object')

In [11]:
columns = ['rent_ua', '연면적m2', 'usage_area',
       'cont_area', '지하철거리m', '승객수점수', '건물별전기사용량', '본번별평균사용량', '횡단보도거리m',
       '건물연차', '가까운아파트총세대수', '가까운아파트평균평당가', '아파트거리', '주변세대수점수', '주변평당가점수',
       '평균월매출금액', '평균월매출건수', '평균주중매출금액', '평균주말매출금액', '편의점임대료', '공시지가',
       '행정동생활인구']

In [12]:
# columns에 담긴 변수 log 취하고 scaling

import math
from sklearn import preprocessing
import numpy as np

for i in columns:
    seoul_ua2_log['{}_log'.format(i)] = preprocessing.scale(np.log(seoul_ua2_log['{}'.format(i)]))
    
seoul_ua2_log

C:\python\lib\site-packages\pandas\core\series.py:679: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
C:\python\lib\site-packages\pandas\core\series.py:679: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,rent_ua,지하총층,지상총층,연면적m2,주차대수,승강기수,usage_area,cont_area,지하철거리m,승객수점수,...,아파트거리_log,주변세대수점수_log,주변평당가점수_log,평균월매출금액_log,평균월매출건수_log,평균주중매출금액_log,평균주말매출금액_log,편의점임대료_log,공시지가_log,행정동생활인구_log
1,13.155340,4,5,8585.08,7,4,103.00,143.92,1.373136,117064.164,...,1.090406,-0.850740,-1.342676,0.497193,0.885323,0.257718,0.239860,0.114511,1.498136,-0.748483
2,11.891892,0,3,172.11,0,1,185.00,200.00,2.508637,46623.003,...,0.027398,-2.177420,-0.498460,-0.647599,-0.682593,-0.766064,-0.701438,0.801353,2.233099,1.015203
3,3.778770,0,4,233.03,2,0,58.22,58.22,4.791703,29040.490,...,0.853651,-0.304766,-0.726896,0.480658,0.051814,0.309060,0.062458,0.150939,0.162120,-0.616450
4,2.037351,0,5,253.80,0,0,58.90,66.20,3.818611,34219.916,...,1.071250,-1.291158,-1.440247,-0.716181,0.027246,-0.582240,-1.550143,0.979008,-0.660504,-1.230024
6,4.323740,5,6,3869.33,4,2,370.05,370.05,2.095677,41692.829,...,1.370453,-1.051876,-1.745519,0.497193,0.885323,0.257718,0.239860,0.521516,0.848167,-0.748483
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9257,2.156190,1,4,493.71,3,0,783.79,891.83,4.357042,8921.374,...,-0.000860,2.190894,0.610191,-2.907336,-2.711965,-2.704962,-2.789596,1.519736,-0.387026,-0.163377
9258,10.439427,1,3,988.04,0,0,41.19,41.19,0.729846,33569.452,...,0.177978,1.761168,0.569123,0.265488,0.087775,0.013555,0.132313,-0.802717,1.033750,0.205747
9259,3.761755,1,2,741.99,4,0,127.60,127.60,2.046134,16942.142,...,-4.387623,1.524567,2.071122,0.265488,0.087775,0.013555,0.132313,-0.802717,-0.162596,0.205747
9260,4.672416,1,4,659.00,5,0,291.07,321.87,6.165909,22247.037,...,-0.478187,1.142405,0.849512,-0.630988,-0.591975,-0.711030,-0.787447,-0.724579,-0.076452,0.061536
9261,3.905050,4,10,20582.74,149,2,227.91,300.00,1.656423,90212.844,...,-1.330123,-0.160604,0.696453,0.870677,0.626496,0.620656,0.478524,1.514220,-0.170384,0.061536

## RF - 변수 6개

In [13]:
z8 = seoul_ua2_log.copy()

z8.columns

Index(['rent_ua', '지하총층', '지상총층', '연면적m2', '주차대수', '승강기수', 'usage_area',
       'cont_area', '지하철거리m', '승객수점수', '건물별전기사용량', '본번별평균사용량', '횡단보도거리m',
       '건물연차', '가까운아파트총세대수', '가까운아파트평균평당가', '아파트거리', '주변세대수점수', '주변평당가점수',
       '평균월매출금액', '평균월매출건수', '평균주중매출금액', '평균주말매출금액', '편의점임대료', '공시지가',
       '행정동생활인구', '주차가능여부', '승강기여부', 'rent_ua_log', '연면적m2_log',
       'usage_area_log', 'cont_area_log', '지하철거리m_log', '승객수점수_log',
       '건물별전기사용량_log', '본번별평균사용량_log', '횡단보도거리m_log', '건물연차_log',
       '가까운아파트총세대수_log', '가까운아파트평균평당가_log', '아파트거리_log', '주변세대수점수_log',
       '주변평당가점수_log', '평균월매출금액_log', '평균월매출건수_log', '평균주중매출금액_log',
       '평균주말매출금액_log', '편의점임대료_log', '공시지가_log', '행정동생활인구_log'],
      dtype='object')

In [14]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
import pandas as pd

x = z8[['연면적m2_log',
       'usage_area_log', '승객수점수_log', '본번별평균사용량_log', '평균주말매출금액_log',
       '공시지가_log']]
y = z8['rent_ua_log']


# train/test 데이터로 나누기
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=2)

In [15]:
# RandomForestRegressor 갖고오기
model = RandomForestRegressor(n_estimators = 1000, oob_score = True)
# train 데이터 학습시키기
model.fit(x_train,y_train)
# 변수들 중요도 
model.feature_importances_
# x_test(테스트)데이터로 예측결과 뽑아보기
y_pred = model.predict(x_test)

y_pred

array([ 0.11335477, -1.02694039, -0.1930004 , ...,  0.08585826,
       -0.11348547,  0.34127458])

In [16]:
# rmse값 뽑기
from sklearn.metrics import mean_squared_error
rmse = mean_squared_error(y_test,y_pred)**0.5
rmse

0.7470924831240059

In [17]:
# 변수이름 + 중요도로 데이터프레임 만들기
pd.DataFrame({'변수' : ['연면적m2_log',
       'usage_area_log', '승객수점수_log', '본번별평균사용량_log', '평균주말매출금액_log',
       '공시지가_log'], 'importance' : model.feature_importances_})

               변수  importance
0       연면적m2_log    0.114629
1  usage_area_log    0.121318
2       승객수점수_log    0.113246
3    본번별평균사용량_log    0.105320
4    평균주말매출금액_log    0.088911
5        공시지가_log    0.456576

In [18]:
# 실제값과 예측값 비교해보기
pd.DataFrame({'y':y_test,'y_pred':y_pred})

             y    y_pred
5094  0.291940  0.113355
1901 -0.765091 -1.026940
5187 -0.044194 -0.193000
1019 -1.819953 -0.807993
2288 -0.571617 -0.179729
...        ...       ...
5286 -0.360128 -0.597107
2402 -0.072769 -0.158112
2292 -0.219199  0.085858
3054  0.867011 -0.113485
7688  0.334709  0.341275

[2763 rows x 2 columns]

In [19]:
format(model.score(x_train, y_train))

'0.9223099277355759'

In [20]:
format(model.score(x_test, y_test))

'0.4451607593167083'

## 주요 변수 4개

In [28]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
import pandas as pd

x = z8[['연면적m2_log', 'usage_area_log', '평균주말매출금액_log',
       '공시지가_log']]
y = z8['rent_ua_log']


# train/test 데이터로 나누기
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=2)

In [29]:
# RandomForestRegressor 갖고오기
model = RandomForestRegressor(n_estimators = 1000, oob_score = True)
# train 데이터 학습시키기
model.fit(x_train,y_train)
# 변수들 중요도 
model.feature_importances_
# x_test(테스트)데이터로 예측결과 뽑아보기
y_pred = model.predict(x_test)

y_pred

array([ 0.28451436, -1.3928508 , -0.21912897, ..., -0.29077461,
       -0.02902872,  0.13496551])

In [30]:
# rmse값 뽑기
from sklearn.metrics import mean_squared_error
rmse = mean_squared_error(y_test,y_pred)**0.5
rmse

0.7728687414785795

In [31]:
# 변수이름 + 중요도로 데이터프레임 만들기
pd.DataFrame({'변수' : ['연면적m2_log', 'usage_area_log', '평균주말매출금액_log',
       '공시지가_log'], 'importance' : model.feature_importances_})

               변수  importance
0       연면적m2_log    0.178592
1  usage_area_log    0.167807
2    평균주말매출금액_log    0.144359
3        공시지가_log    0.509243

In [32]:
# 실제값과 예측값 비교해보기
x.columns
pd.DataFrame({'y':y_test,'y_pred':y_pred})

             y    y_pred
5094  0.291940  0.284514
1901 -0.765091 -1.392851
5187 -0.044194 -0.219129
1019 -1.819953 -0.551071
2288 -0.571617  0.062615
...        ...       ...
5286 -0.360128 -0.626578
2402 -0.072769  0.184070
2292 -0.219199 -0.290775
3054  0.867011 -0.029029
7688  0.334709  0.134966

[2763 rows x 2 columns]

In [33]:
format(model.score(x_train, y_train))

'0.9179609870628521'

In [34]:
format(model.score(x_test, y_test))

'0.40621404543516604'

In [35]:
seoul_ua2_log.to_csv("C:/data/now_used/seoul_ua2_log_noscaling.csv", index = False)